
<div class="app-container">
  <app-header></app-header> 
   <main>
    <section class="mx-auto lg:max-w-3xl">

      <section class="hero">
        <app-hero></app-hero>  
      </section>
  
      <div dir="ltr" data-orientation="horizontal" class="flex flex-col ">
        <div role="tablist" aria-orientation="horizontal" class="w-full flex gap-1 mt-12" tabindex="0" data-orientation="horizontal" style="outline: none;">
          <section class="search-bar flex-1">  <app-search-bar></app-search-bar> 
          </section>
        </div>
      </div>
      
  
    </section>
    
    <!-- <section class="popular-categories">
      <app-popular-categories></app-popular-categories> </section>

    <section class="benefits"> (Optional)
      <app-benefits></app-benefits>  </section> -->
  </main>

  <app-footer></app-footer>  </div>

<router-outlet />
